<nav class="navbar" id="navbar">
  <div class="navbar-container">
    <a href="#home" class="navbar-logo">{{ site.title }}</a>
    <ul class="navbar-menu" id="navbar-menu">
      <li class="navbar-item">
        <a href="#home" class="navbar-link">Home</a>
      </li>
      <li class="navbar-item">
        <a href="#about" class="navbar-link">About</a>
      </li>
      <li class="navbar-item">
        <a href="#projects" class="navbar-link">Projects</a>
      </li>
      <li class="navbar-item">
        <a href="#resume" class="navbar-link">Resume</a>
      </li>
      <li class="navbar-item">
        <a href="#contact" class="navbar-link">Contact</a>
      </li>
    </ul>
    <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
